<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="AllTestsSuite">
    <test name="Asos web page tests">
        <classes>
            <class name="tests.GoToCheckoutTest"/>
            <class name="tests.RegisterTest"/>
            <class name="tests.PagePreferencesTest"/>
            <class name="tests.SavingProductTest"/>
        </classes>
    </test>
</suite>